<!doctype html>
<html>
    <head>
            <title>
                MeasApp Online
            </title>
            <link href='/static/bower_components/angular/angular-csp.css' rel='stylesheet' />
            <link href='/static/bower_components/angular-material/angular-material.min.css' rel='stylesheet' />
    </head>
    <body ng-app='MyApp' ng-controller='AppCtrl' >

<section layout="row" flex >
     <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="true"
        md-whiteframe="4" style="overflow: hidden;">



      <md-toolbar md-theme="docs-dark" >
        <h1 class="md-toolbar-tools">MeasApp Online</h1>
      </md-toolbar>
      <md-content layout-padding >

    <md-content layout="row">
      <div layout='column' flex>
        <md-button ng-click='open_window("http://localhost:5000/static/index.html")'> Measure </md-button>
      </div>
      <div layout='column' flex>
        <md-button ng-click='open_window("http://localhost:5000/static/properties.html")'> Control</md-button>
      </div>

<div layout='column' flex>
        <md-button ng-click='open_window("http://localhost:5000/static/current_measurements.html")'> View </md-button>
      </div>

      </md-content>
        
          <h2 layout="row">{{ measurement_data.name }}</h2>
          <md-button layout="row">Step Time: {{ measurement_data.step_time }}</md-button>
          <md-button layout="row" class='md-warn' ng-show='measurement_data.running'> Running </md-button>
          <md-button layout="row" class='md-raised md-warn' ng-show='measurement_data.running' ng-click='stop_measurement()'> Stop Measurement </md-button>

          <md-select ng-model="new_input_name" aria-label="select_input">
              <md-option ng-repeat="input in series" value={{input}} class='md-warn'>
                {{input}}
              </md-option>
            </md-select>
          <md-button ng-click="add_graph();" class='md-primary md-raised'> Add Graph</md-button>

      <md-progress-linear md-mode="indeterminate" ng-show="loading" ></md-progress-linear>
      </md-content>

  </md-sidenav>

    <md-content class='md-whiteframe-1dp' flex layout-padding >



                <md-grid-list
        md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:1"
        md-gutter="12px" md-gutter-gt-sm="8px"  >

<!-- 
    <md-grid-tile md-rowspan="2"
                  md-colspan="2"
                  md-colspan-sm="1"
                  md-rowspan-sm="1"
                  md-colspan-xs="1"
                  md-rowspan-xs="1"
                  ng-class="tile.background" >
      <md-icon md-svg-icon=""></md-icon>
                  <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options">
          </canvas> 
    </md-grid-tile> -->



    <md-grid-tile ng-repeat="graph in graphs" md-rowspan="2"
                  md-colspan="2"
                  md-colspan-sm="1"
                  md-rowspan-sm="1"
                  md-colspan-xs="1"
                  md-rowspan-xs="1"
                  ng-class="tile.background" >
      <md-icon md-svg-icon=""></md-icon>
                  <img ng-src='/graph_measurement/{{measurement_id}}/{{graph.graph_input_index}}/?{{date}}' style="max-height:75%; width:auto;">

      <md-grid-tile-footer>
        <h3>{{graph.input_name}}
                    <md-button class="md-mini md-warn md-fab" aria-label='remove object' ng-click="remove(graphs, $index)" >
                <md-icon md-svg-src="/static/icons/circle-slash.svg"></md-icon>
            </md-button></h3>
      </md-grid-tile-footer>
    </md-grid-tile>


  </md-grid-list>
  
    </md-content>
 
    </section>


        
            <script src='/static/bower_components/angular/angular.min.js' ></script>
            <script src='/static/bower_components/angular-material/angular-material.min.js'></script>
            <script src='/static/bower_components/angular-aria/angular-aria.min.js'></script>
            <script src='/static/bower_components/angular-animate/angular-animate.min.js'></script>
            <script src='/static/bower_components/chart.js/dist/Chart.min.js'></script>
            <script src="/static/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
            <script src='/static/measurement.js'></script>

    </body>
</html>
