<!doctype html>
<html>
    <head>
            <title>
                MeasApp Online
            </title>
            <link href='/static/bower_components/angular/angular-csp.css' rel='stylesheet' />
            <link href='/static/bower_components/angular-material/angular-material.min.css' rel='stylesheet' />
    </head>
    <body ng-app='MyApp' ng-controller='AppCtrl' >

<section layout="row" flex>
     <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar md-theme="docs-dark" >
        <h1 class="md-toolbar-tools">MeasApp Online</h1>
      </md-toolbar>
      <md-content layout-padding >
        
              <md-radio-group ng-model="cc.selectedId" >
                <div ng-repeat='device in devices' class="row">
                  <div flex layout='row' layout-padding layout-align="start center" >

                    <md-radio-button flex
                        ng-value="device.name"
                        class="md-primary" ng-click="select_device(device) ">
                      {{device.name}}
                    </md-radio-button>

                  </div>
                </div>
              </md-radio-group>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

    <md-list ng-cloak>

              <md-subheader class="md-no-sticky">{{selected_device.name}}</md-subheader>
              <md-list-item ng-repeat="property in selected_device.properties">
                <p> {{ property[0] }} </p>
                <md-input-container class="md-secondary" > <input ng-model='property[1]'></md-checkbox>
              </md-list-item>


    </md-list>

    <md-button class='md-primary' ng-click='update(selected_device)'>update device</md-button>
      <md-progress-linear md-mode="indeterminate" ng-show="loading" ></md-progress-linear>

    </md-content>
    </section>


        
            <script src='/static/bower_components/angular/angular.min.js' ></script>
            <script src='/static/bower_components/angular-material/angular-material.min.js'></script>
            <script src='/static/bower_components/angular-aria/angular-aria.min.js'></script>
            <script src='/static/bower_components/angular-animate/angular-animate.min.js'></script>
            <script src='/static/properties_script.js') }} "></script>

    </body>
</html>
