<!doctype html>
<html>
    <head>
            <title>
                MeasApp Online
            </title>
            <link href='/static/bower_components/angular/angular-csp.css' rel='stylesheet' />
            <link href='/static/bower_components/angular-material/angular-material.min.css' rel='stylesheet' />
    </head>
    <body ng-app='MyApp' ng-controller='AppCtrl' >

<section layout="row" flex>
     <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="true"
        md-whiteframe="4">



      <md-toolbar md-theme="docs-dark" >
        <h1 class="md-toolbar-tools">MeasApp Online</h1>
      </md-toolbar>

                      <md-content layout="row">
      <div layout='column' flex>
        <md-button ng-click='open_window("http://localhost:5000/static/index.html")'> Measure </md-button>
      </div>
      <div layout='column' flex>
        <md-button ng-click='open_window("http://localhost:5000/static/properties.html")'> Control</md-button>
      </div>

<div layout='column' flex>
        <md-button ng-click='open_window("http://localhost:5000/static/current_measurements.html")'> View </md-button>
      </div>

      </md-content>
      <md-content layout-padding >
        
              <md-radio-group ng-model="cc.selectedId" >
                <div ng-repeat='device in devices' class="row">
                  <div flex layout='row' layout-padding layout-align="start center" >

                    <md-radio-button flex
                        ng-value="device.name"
                        class="md-primary" ng-click="select_device(device) ">
                      {{device.name}}
                    </md-radio-button>

                  </div>
                </div>
              </md-radio-group>
      <md-progress-linear md-mode="indeterminate" ng-show="loading" ></md-progress-linear>
      </md-content>

    </md-sidenav>

    <md-content class='md-whiteframe-1dp' ng-show="selected_device" flex layout-padding >

    <md-list ng-cloak class="md-dense">

          <md-content layout="row">
              <md-subheader class="md-no-sticky" flex>{{selected_device.name}} - Properties</md-subheader>
              <md-button class='md-primary' ng-click='update(selected_device)'>update device</md-button>
          </md-content>
              <md-list-item  ng-repeat="property in selected_device.properties | orderBy:'-name' ">
                <p> {{ property.name }} </p>
                <md-input-container class="md-secondary" > <input ng-show='is_number_property(property)' aria-label="INPUT" ng-model='property.value'>
                </md-input-container>
                <md-select ng-model="property.value" aria-label='select' ng-hide='is_number_property(property)'>
                  <md-option ng-repeat="type in property.type"  value={{type}}>
                  {{type}}
                </md-option>
                </md-select>
              </md-list-item>


    </md-list>


    </md-content>
    <md-content layout="row"></md-content>
    <md-content class='md-whiteframe-1dp' ng-show="selected_device" flex layout-padding >

    <md-list ng-cloak class="md-dense">

              <md-content layout="row">
              <md-subheader class="md-no-sticky" flex>Outputs</md-subheader>

                <md-button class='md-primary' ng-click='update_outputs(selected_device)'>Change Outputs</md-button>
              </md-content>
              <md-list-item ng-repeat="output in outputs_value">
                <p> {{ output.name }} </p>
                <md-input-container class="md-secondary" > <input aria-label="INPUT" ng-model="output.value"></md-input-container> 
              </md-list-item>


    </md-list>


    </md-content>
 
    </section>


        
            <script src='/static/bower_components/angular/angular.min.js' ></script>
            <script src='/static/bower_components/angular-material/angular-material.min.js'></script>
            <script src='/static/bower_components/angular-aria/angular-aria.min.js'></script>
            <script src='/static/bower_components/angular-animate/angular-animate.min.js'></script>
            <script src='/static/properties_script.js') }} "></script>

    </body>
</html>
